Package: com.alexburneikis.customcarrier15
Name: CustomCarrier15
Version: 1.0.0
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Alexander Burneikis
Author: Alexander Burneikis
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
